@font-face {
    font-family: pixel;
    src: url(joystix_monospace.woff);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
}

.editor-container {
    background-color: #f4f4f4;
    flex: 1;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.code-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.code-editor {
    flex: 1;
    border: none;
    padding: 10px;
    font-family: monospace;
    font-size: 16px;
    background-color: #f8f8f8;
    resize: none;
}

.result-container {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
    overflow: auto;
}

#pageName {
    margin: auto;
    color: white;
    font-family: pixel;
    width: 20%;
    height: 30vh;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    background-color:darkslateblue;
    position: absolute;
    text-align: center;
    box-shadow: rgba(148, 35, 163, 0.3) 5px 5px;
    
}

#pageName input{
    font-family: pixel;
    width: 80%;
    height: 15%;
    
}
